@mixin font($weight, $size, $height) {
    font-size: $size;
    font-weight: $weight;
    line-height: $height;
}

;

$bckg-color: #111;
$orange-color: #FCB500;
$hoverColor: #808080;


$breakpoint1439: 1439px;
$breakpoint1310: 1310px;
$breakpoint1200: 1200px;
$breakpoint980: 980px;
$breakpoint800: 801px;
$breakpoint730: 730px;
$breakpoint729: 729px;
$breakpoint570: 570px;
$breakpoint550: 550px;
$breakpoint480: 480px;
$breakpoint452: 452px;
$breakpoint320: 320px;