@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);
@import './_vars.scss';

* {
  padding: 0;
  box-sizing: border-box;
  font-family: Rubik, sans-serif;
}

.app {
  height: 100%;
  min-height: 100vh;
  min-width: 100vw;
  width: 100%;
}

.hover:hover {
  opacity: .85;
  cursor: pointer;
}