@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);
@import './_vars.scss';

* {
  padding: 0;
  box-sizing: border-box;
  font-family: Rubik, sans-serif;
}

.app {
  min-width: 100%;
}

.hover:hover {
  color: $orange-color;
  cursor: pointer;
}