@import './_vars';

.button {
    width: 256px;
    height: 56px;
    background-color: $orange-color;
    color: #000;
    border: none;
    border-radius: 7px;
    @include font(400, 18px, 1.17);

    &:hover {
        cursor: pointer;
        background-color: gray;
        opacity: .8;
    }
}