@import './_vars';

.header {
    max-width: 100%;
    min-height: 80px;
    // height: 80px;
    padding: 23px 80px 19px 64px;
    background-color: #111;
    color: #fff;
    @include font(400, 18px, 1.3);

    @media screen and (max-width: $breakpoint1310) {
        padding: 23px 20px 19px 20px;
    }

    @media screen and (max-width: $breakpoint1200) {
        padding-right: 10px;
        padding-left: 10px;
    }



    &__container {
        display: flex;
        justify-content: space-between;
        height: 37px;

        @media screen and (max-width: $breakpoint980) {
            height: auto;
        }

        @media screen and (max-width: $breakpoint1200) {
            align-items: center;
        }

        @media screen and (max-width: $breakpoint550) {
            flex-direction: column;
        }
    }

    &__logo {
        width: 120px;
        height: 35px;
        @media screen and (max-width: $breakpoint980) {
            margin-bottom: 15px;
        }

        @media screen and (max-width: $breakpoint550) {
            margin-bottom: 25px;
        }
    }

    &__nav {
        display: flex;
        align-items: center;


    }

    &__list {
        display: flex;
        justify-content: space-between;
        margin: 0;
        list-style: none;

        @media screen and (max-width: $breakpoint980) {
            flex-wrap: wrap;
            justify-content: center;
            padding-left: 15px;
            padding-right: 15px;
        }
        @media screen and (max-width: $breakpoint550) {
            flex-direction: column;
            align-items: center;
        }

        &_item {
            margin-right: 40px;

            @media screen and (max-width: $breakpoint1200) {
                margin-right: 10px;
            }

            @media screen and (max-width: $breakpoint980) {
                margin-bottom: 10px;
            }
        }
    }

    &__basket {
        width: 40px;
        height: 37px;

        @media screen and (max-width: $breakpoint550) {
            margin-top: 15px;
        }
    }
} 
// f=alr ald rcf попадали с даты на дату с 7 по 15 