@import './_vars';

.main {
    position: relative;
    top: -80px;
    left: 0;
    z-index: -1;
    margin: 0;
    max-width: 100%;
    width: 100vw;
    max-height: 100vh;
    height: 874px;
    background-image: url('../images/bg.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;

    &__container {
        position: absolute;
        top: 176px;
        left: 64px;
        margin: 0;
        width: 70vw;
        z-index: 5;
    }

    &__title {
        max-width: 1008px;
        max-height: 320px;
        @include font(700, 144px, 1.06);
        color: #fff;
        margin: 0;

        &_description {
            @include font(400, 24px, 1.17);
            max-width: 660px;
            margin: 24px 0 0;
        }
    }

    &__subtitle {
        margin: 120px 0 0;
        @include font(700, 36px, 1.2);
        max-width: 416px;
        
        &_description {
            margin: 12px 0 0;
            max-width: 310px;
        }
    }

    &__picture {
        &_lemon {
            position: absolute;
            bottom: -110px;
            right: 243px;
            z-index: 5;
        }
        &_nootris {
            position: absolute;
            bottom: 94px;
            right: 160px;
            z-index: 3;
        }
        &_ginger {
            position: absolute;
            bottom: 112px;
            right: 64px;
            z-index: 2;
        }
    }
}